
<comp-navtop></comp-navtop>
<div class="card card-body">
    <comp-load></comp-load>

    <div class="row">
        <div class="col-6">
            <label for="name">Name</label>
            <input id="name" type="text" class="form-control" name="name" [(ngModel)]="item.name" required />
        </div>

        <div class="col-6">
            <label for="description">Description</label>
            <input id="description" type="text" class="form-control" name="description" [(ngModel)]="item.description" required />
        </div>

        <div class="col-6">
            <br />
            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="isActive" [(ngModel)]="item.isActive">
                <label class="form-check-label" for="isActive">Is Active</label>
            </div>
        </div>
    </div>


    <div class="float-sm-right">
        <a class="btn btn-secondary" routerLink="/items">Cancel</a>
        <button class="btn btn-primary" (click)="save()">Save</button>
    </div>

</div>
