<h2>Home</h2>

<br />

<input type="text" class="form-control" [(ngModel)]="id" />

<br />
<br />

<button class="btn btn-primary" (click)="getOne()">Get One (Anonymous)</button>

<br />
<br />
Product
<br />
Id: {{product.id}}
<br />
Name: {{product.name}}
<br />
Price: {{product.price}}

<br />
<br />

<button class="btn btn-primary" (click)="getAll()">Get All (Authorized)</button>
<br />
<ul>
    <li *ngFor="let p of products;">
        {{p.id}} - {{p.name}} - {{p.price}}
    </li>
</ul>
<br />

<button class="btn btn-primary" (click)="postOne()">Post One (Authorized with roles)</button>

<br />
<br />


<br />

<!--[] to put value inside the component and () to get the returned value from the component -->
<comp-autocomplete [url]="'products/findbyname'" [displayPropertyName]="'name'" (onReturnObject)="onReturnProduct($event)"></comp-autocomplete>
<br />
Miss

<br />
<br />
<button class="btn btn-primary" (click)="postItem()">Post Item</button>