
<comp-navtop></comp-navtop>
<div class="card card-body">
    <comp-load></comp-load>

    <div class="row">
        <div class="col-6">
            <label for="name">Name</label>
            <input id="name" type="text" class="form-control" [(ngModel)]="product.name" required />
        </div>

        <div class="col-6">
            <label for="description">Description</label>
            <input id="description" type="text" class="form-control" [(ngModel)]="product.description" required />
        </div>


        <div class="col-6">
            <label for="price">Price</label>
            <input id="price" type="text" class="form-control" [(ngModel)]="product.price" required />
        </div>

        <div class="col-6">
            <br />
            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="isActive" [(ngModel)]="product.isActive">
                <label class="form-check-label" for="isActive">Is Active</label>
            </div>
        </div>
    </div>

    <div class="row">
        <h5>
            Items of product
        </h5>

        <a class="btn btn-light btn-sm" (click)="add()" title="add" data-toggle="modal" data-target="#modalItem">
            <span class="oi oi-plus" title="add" aria-hidden="true"></span>
        </a>

        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>
                        Name
                    </th>
                    <th>
                        Count
                    </th>
                    <th>
                        Actions
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of product.items">
                    <td>
                        {{item.name}}
                    </td>
                    <td>
                        {{item.count}}
                    </td>
                    <td>
                        <a class="btn btn-light btn-sm" (click)="edit(item)" title="edit" data-toggle="modal" data-target="#modalItem">
                            <span class="oi oi-pencil" title="edit" aria-hidden="true"></span>
                        </a>
                        <a class="btn btn-light btn-sm" (click)="remove(item)" title="remove">
                            <span class="oi oi-trash" title="remove" aria-hidden="true"></span>
                        </a>
                    </td>
                </tr>

                <tr *ngIf="product.items.length == 0">
                    <td colspan="3" style="text-align: center;">
                        No items.
                    </td>
                </tr>
            </tbody>
        </table>

    </div>

    <div class="float-sm-right">
        <a class="btn btn-secondary" routerLink="/products">Cancel</a>
        <button class="btn btn-primary" (click)="save()">Save</button>
    </div>

</div>


<!-- Modal -->
<div class="modal fade" id="modalItem" tabindex="-1" role="dialog" aria-labelledby="modalItem" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h6 class="modal-title">{{modalTitle}} Item</h6>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <div class="form-group">
                    <label for="price">Item</label>
                    <select class="form-control" [(ngModel)]="currentItem.id" (change)="onItemSelect()">
                        <option *ngFor="let item of items" [ngValue]="item.id">{{item.name}}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label for="count">Count</label>
                    <input type="text" class="form-control" [(ngModel)]="currentItem.count" />
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button *ngIf="!getIsEditingMode()" type="button" class="btn btn-primary" data-dismiss="modal" (click)="saveItem()">Add</button>
            </div>
        </div>
    </div>
</div>
