<h2>Home</h2>

<br />

<input type="text" [(ngModel)]="id" />

<br />
<br />

<button (click)="getOne()">Get One (Anonymous)</button>

<br />
<br />
Product
<br />
Id: {{product.id}}
<br />
Name: {{product.name}}
<br />
Price: {{product.price}}

<br />
<br />



<button (click)="postOne()">Post One (Authorized)</button>

<br />
<br />


<button (click)="getAll()">Get All (Authorized with Roles)</button>

<br />
<br />

<comp-autocomplete [url]="'products/findbyname'" [displayPropertyName]="'name'" (onReturnObject)="onReturnProduct($event)"></comp-autocomplete>