
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">StoreApp</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="{{ chooseModuleCSS(menuModuleEnum.Products) }}">
                <a class="nav-link" routerLink="/products">Products</a>
            </li>
            <li class="{{ chooseModuleCSS(menuModuleEnum.Items) }}">
                <a class="nav-link" routerLink="/items">Items</a>
            </li>
        </ul>

        <div class="form-inline my-2 my-lg-0">
            <ul class="navbar-nav mr-auto">
                <li class="{{ chooseModuleCSS(menuModuleEnum.Users) }}">
                    <a class="nav-link text-light" routerLink="/users/edit/{{username}}">{{username}}</a>
                </li>
            </ul>
        
            <button class="btn btn-danger navbar-btn" type="button" (click)="onLogout()">Logout</button>
        </div>

    </div>
</nav>

<div class="card-header">
    <h4> {{title}}</h4>
</div>

<comp-alert></comp-alert>
