
<comp-navtop></comp-navtop>
<div class="card card-body">
    <comp-load></comp-load>

    <div class="row">

        <div class="col-6">
            <label for="client">Client</label>
            <select class="form-control" id="client" [(ngModel)]="order.clientId" di-model-validator [key]="'ClientId'" title="-- Select --">
                <option *ngFor="let client of clients" [ngValue]="client.id">{{client.name}}</option>
            </select>
        </div>

        <!-- This is the only way to angular work with date types (and date picker) -->
        <div class="col-6">
            <label for="date">Date</label>
            <input id="date" type="text" class="form-control" di-datepicker (onSelectDate)="onDateChange($event)" [ngModel]="order.date | date:'MM/dd/yyyy'" (ngModelChange)="order.date = $event" di-model-validator [key]="'Date'">
        </div>

        <div class="col-6">
            <label for="description">Description</label>
            <input id="description" type="text" class="form-control" [(ngModel)]="order.description" di-model-validator [key]="'Description'" />
        </div>

        <div class="col-6">
            <label for="discount">Discount</label>
            <input id="discount" type="text" class="form-control" [(ngModel)]="order.discount" />
        </div>

        <div class="col-6">
            <br />
            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="isActive" [(ngModel)]="order.isActive">
                <label class="form-check-label" for="isActive">Is Active</label>
            </div>
        </div>
    </div>

    <div class="row">
        <h6>Total {{getTotal()}}</h6>
    </div>

    <div class="row">
        <h5>
            Products of order
        </h5>

        <a class="btn btn-light btn-sm" (click)="add()" title="add" data-toggle="modal" data-target="#modalProduct">
            <span class="oi oi-plus" title="add" aria-hidden="true"></span>
        </a>

        <div style="overflow: auto;">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>
                            Name
                        </th>
                        <th>
                            Price
                        </th>
                        <th>
                            Count
                        </th>
                        <th>
                            Amount
                        </th>
                        <th>
                            Actions
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let product of order.products">
                        <td>
                            {{product.name}}
                        </td>
                        <td>
                            ${{product.price}}
                        </td>
                        <td>
                            {{product.count}}
                        </td>
                        <td>
                            ${{getAmount(product.count, product.price)}}
                        </td>
                        <td>
                            <a class="btn btn-light btn-sm" (click)="edit(product)" title="edit" data-toggle="modal" data-target="#modalProduct">
                                <span class="oi oi-pencil" title="edit" aria-hidden="true"></span>
                            </a>
                            <a class="btn btn-light btn-sm" (click)="remove(product)" title="remove">
                                <span class="oi oi-trash" title="remove" aria-hidden="true"></span>
                            </a>
                        </td>
                    </tr>

                    <tr *ngIf="order.products.length == 0">
                        <td colspan="5" style="text-align: center;">
                            No products.
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
          

        </div>

        <div class="float-sm-right">
            <a class="btn btn-secondary" routerLink="/orders">Cancel</a>
            <button class="btn btn-primary" (click)="save()">Save</button>
        </div>

    </div>

<!-- Modal -->
<div class="modal fade" id="modalProduct" tabindex="-1" role="dialog" aria-labelledby="modalProduct" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h6 class="modal-title">{{modalTitle}} Product</h6>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <div class="form-group">
                    <label for="price">Product</label>
                    <select class="form-control" [(ngModel)]="currentProduct.id" (change)="onProductSelect()">
                        <option *ngFor="let item of products" [ngValue]="item.id">{{item.name}}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label for="count">Price</label>
                    <input type="text" class="form-control" [(ngModel)]="currentProduct.price" />
                </div>

                <div class="form-group">
                    <label for="count">Count</label>
                    <input type="text" class="form-control" [(ngModel)]="currentProduct.count" />
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button *ngIf="!getIsEditingMode()" type="button" class="btn btn-primary" data-dismiss="modal" (click)="saveProduct()">Add</button>
            </div>
        </div>
    </div>
</div>
