
<comp-navtop></comp-navtop>

<div class="card card-body">
    <comp-load></comp-load>

    <div class="row">
        <div class="col-6">
            <label for="client">Client</label>
            <select id="client" class="form-control" [(ngModel)]="clientId" (change)="fillOrders()">
                <option *ngFor="let client of clients" [ngValue]="client.id">{{client.name}}</option>
            </select>
        </div>
    </div>

    <div class="row">
        <div class="col-6">
            <label for="startDate">Start Date</label>
            <input id="startDate" di-datepicker type="text" class="form-control" (blur)="onStarDateBlur($event)">
        </div>

        <div class="col-6">
            <label for="endDate">End Date</label>
            <input id="endDate" di-datepicker type="text" class="form-control" (blur)="onEndDateBlur($event)">
        </div>
    </div>

    <div class="float-right">
        <a class="btn btn-primary float-right" routerLink="/orders/edit">Add</a>
    </div>

    <table class="table table-bordered">
        <thead>
            <tr>
                <th>
                    Date
                </th>
                <th>
                    Client
                </th>
                <th>
                    Description
                </th>
                <th>
                    Is Active
                </th>
                <th>
                    Actions
                </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let order of orders">
                <td>
                    {{order.date}}
                </td>
                <td>
                    {{order.client.name}}
                </td>
                <td>
                    {{order.description}}
                </td>
                <td>
                    {{order.isActive}}
                </td>

                <td>
                    <a class="btn btn-light btn-sm" [routerLink]="['/orders/edit', order.id]" title="edit">
                        <span class="oi oi-pencil" aria-hidden="true"></span>
                    </a>
                    <a class="btn btn-light btn-sm" (click)="remove(order)" title="remove">
                        <span class="oi oi-trash" aria-hidden="true"></span>
                    </a>

                </td>
            </tr>

            <tr *ngIf="orders.length == 0">
                <td colspan="5" style="text-align: center;">
                    No orders.
                </td>
            </tr>

        </tbody>
    </table>
</div>
